<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/todoList/addTodoForm}" th:object="${todoItem}" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{username}">name error</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}" /></td>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error</td>
        </tr>
        <tr>
            <td>Due date:</td>
            <td><input type="date" th:field="*{dueDate}" /></td>
            <td th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}">due date error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>

</body>
</html>